@charset "utf-8";

#viz {
	width: 900px;
	height: 400px;
	margin: 0px auto;	
	position: relative;
	font-family: "PT Sans";
	font-size: 20px;
	font-weight: bold;
}

.bit {
	width: 32px;
	height: 32px;
	font-family: "PT Sans";
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	box-sizing: border-box;
}

.viz-text {
	position: absolute;
	width: 80px;
	text-align: left;
	color: #bbb;
}
	#op-text {
		color: black;
		text-align: right;
	}
	#S-text { top: 104px; }
	#j-text { top: 139px; }
	#result-text { top: 190px; }

#divider {
	height: 3px;
	background: black;
	position: absolute;
}

/*action pullout stuff*/
.setFlags { bottom: 200px; }
	#setFlags-input input {
		background: black;
		width: 25px;
		color: white;
		padding: 8px 8px 8px;
	}
	#setFlags-go p { padding: 7px 8px 8px; }
	#setFlags-err { padding: 8px 0px 7px; }
		
.set { bottom: 173px; }
	#set-input input {
		background: black;
		width: 25px;
		color: white;
		padding: 6px 8px 5px;
	}
	#set-go p { padding: 5px 8px; }
	#set-err { padding: 5px 0px; }

.check { bottom: 146px; }
	#check-input input {
		background: black;
		width: 25px;
		color: white;
		padding: 6px 8px 5px;
	}
	#check-go p { padding: 5px 8px; }
	#check-err { padding: 5px 0px; }
		
.toggle {	bottom: 119px; }
	#toggle-input input {
		background: black;
		width: 25px;
		color: white;
		padding: 6px 8px 5px;
	}
	#toggle-go p { padding: 5px 8px; }
	#toggle-err { padding: 5px 0px; }
		
.clear { bottom: 92px; }
	#clear-input input {
		background: black;
		width: 25px;
		color: white;
		padding: 6px 8px 5px;
	}
	#clear-go p { padding: 5px 8px; }
	#clear-err { padding: 5px 0px; }
		
.lsone { bottom: 60px; }
	#lsone-err { padding: 8px 0px 7px; }