@charset "utf-8";

/*all action pullout (input) stuff here*/

.perimeter { bottom: 173px; }
	#perimeter-err { padding: 5px 0px; } /* currently unused*/

.is_convex { bottom: 146px; }
	#is_convex-err { padding: 5px 0px; } /* currently unused*/

.cut_polygon { bottom: 119px; }
	#cut_polygon-err { padding: 5px 0px; } /* currently unused*/

.point_inside { bottom: 92px; }
	#point_inside-err { padding: 5px 0px; } /* currently unused*/

.graham { bottom: 60px; }
	#graham-err { padding: 8px 0px 7px; } /* currently unused*/

/*all tutorial stuff here*/