@charset "utf-8";

#viz { padding-top: 60px; }

/*all action pullout stuff here*/
.init { bottom: 173px; }
	#init-input input {
		width: 25px;
		padding: 8px;
	}
	#init-go p { padding: 8px 8px 7px; }
	#init-err { padding: 8px 0px 7px; }

.sample { bottom: 146px; }
	#sample-input input {
		width: 25px;
		padding: 6px 8px 5px;
	}
	#sample-go p { padding: 5px 8px; }
	#sample-err { padding: 5px 0px; }
	
.find { bottom: 119px; }
	#find-input input {
		width: 25px;
		padding: 6px 8px 5px;
	}
	#find-go p { padding: 5px 8px; }
	#find-err { padding: 5px 0px; }

.isSameSet { bottom: 92px; }
	#isSameSet-input input {
		padding: 6px 8px 5px;
		width: 16px;
	}
	#isSameSet-go p { padding: 5px 8px; }
	#isSameSet-err { padding: 5px 0px; }
	
.union { bottom: 60px; }
	#union-input input {
		padding: 8px;
		width: 16px;
	}
	#union-go p { padding: 8px 8px 7px; }
	#union-err { padding: 8px 0px 7px; }